.Wrapper {
  @apply border-t-1 border-primary
  mt-auto mb-0;
}
.Footer {
  @apply container mx-auto
  flex flex-row justify-between
  flex-shrink-0
  h-40 max-h-64

  md:flex-col;
}

.List {
  @apply flex flex-row

  md:flex-col justify-center;
}

.LinkList,
.MediaList {
  @apply col-span-4 flex flex-wrap content-center justify-end

  md:mx-auto;
}

.MediaList {
  @apply md:gap-6 
  md:mb-10;
}

.Logo {
  @apply flex flex-col justify-center;
}

.Logo > div {
  @apply w-72

  md:mx-auto;
}

.Logo > p {
  @apply md:mx-auto;
}

.Copyright {
  @apply font-montserrat font-normal 
  text-base
  pl-1;
}

.LinkList > .LinkItem:hover {
  @apply text-secondary
  ease-in-out duration-400;
}

.LinkList > .LinkItem:not(:hover) {
  @apply ease-in-out duration-400;
}

.MediaList > .MediaItem:hover {
  @apply scale-125
  ease-in-out duration-400;
}
.MediaList > .MediaItem:not(:hover) {
  @apply ease-in-out duration-400;
}

.LinkItem {
  @apply font-montserrat font-semibold text-lg p-5;
}

.LinkList > li:nth-child(3) {
  @apply mr-4;
}

.MediaItem {
  @apply p-3 flex content-center;
}

.MediaImage {
  @apply object-contain;
}

.aTag {
  @apply flex;
}

.Freepik {
  @apply font-montserrat
  mx-1;
}

.Freepik a {
  @apply font-bold
  text-blue-500
  mx-3;
}
