.TabBar {
  @apply px-7 py-6;
}

.Title {
  @apply flex
  border-b-2 border-gray-200;
}

.Title > h3 {
  @apply uppercase font-bold
  text-xl
  content-start
  mr-5 pt-2 px-2
  rounded-t-md
  transition-all

  hover:cursor-pointer
  hover:bg-primary
  hover:bg-opacity-40
  hover:border-primary 
  hover:border-opacity-60;
}

.ActiveTab {
  @apply border-b-3 border-primary
  text-secondary;
}

.HiddenTab {
  @apply text-gray-900
  border-b-3 border-gray-200;
}

.Content {
  @apply mt-5;
}
